---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Marcus Ang</h1>
    <p>
      Hi, I am Marcus, a current sophomore in the National University of
      Singapore. I currently study Computer Science.
    </p>
    <p>
      I describe myself as a sort of go-getter. I enjoy working on problems that
      serve tangible impact and this principle has guided me for as long as I've
      remembered. My expertise lies in <b>Full-Stack Development</b> and <b
        >Machine Learning</b
      >, though I am keen on exploring any fields that may pique my interests.
    </p>
    <p>I have previously <b>interned</b> at:</p>
    <ul>
      <li>
        <b
          ><a
            href="https://www.binance.com/"
            target="_blank"
            rel="noopener noreferrer">Binance</a
          ></b
        > (Software Engineering Intern)
      </li>
      <li>
        <b
          ><a
            href="https://www.cpf.gov.sg/"
            target="_blank"
            rel="noopener noreferrer">CPF Board</a
          ></b
        > (Software Engineering Intern)
      </li>
      <li>
        <b
          ><a
            href="https://www.nus-hci.org/"
            target="_blank"
            rel="noopener noreferrer">NUS HCI-Lab</a
          ></b
        > (Research Engineering Intern)
      </li>
      <li>
        <b
          ><a
            href="https://arrowster.com/"
            target="_blank"
            rel="noopener noreferrer">Arrowster</a
          ></b
        > (Software Engineering Intern)
      </li>
    </ul>
    <p><b>Currently</b>, I am:</p>
    <ul>
      <li>
        Working on a couple of <b>C++</b> and <b>Rust</b> projects
      </li>
      <li>Gearing up for my month long adventure in Nepal and Europe</li>
    </ul>
    <p>Other <b>Random</b> facts about me:</p>
    <ul>
      <li>I ran a full marathon once</li>
      <li>I use the gym pretty frequently</li>
      <li>I worked in Vietnam for 3 months in my freshman year</li>
    </ul>
  </article>
</BaseLayout>
