---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Marcus Ang</h1>
    <p>
      Hi, I am Marcus, a sophomore in the National University of Singapore. I
      currently study Computer Science, with plans to specialise in <b
        >Database Systems</b
      > and <b>Networking and Distributed Systems</b>.
    </p>
    <p>
      I describe myself as a sort of go-getter. I enjoy working on problems that
      serve tangible impact and this principle has guided me for as long as I've
      remembered. My expertise lies in <b>Full-Stack Development</b> and <b
        >Machine Learning</b
      >, though I am keen on exploring any fields that may pique my interests.
    </p>
    <p>My <b>experiences</b> include:</p>
    <ul>
      <li>
        <b
          ><a
            href="https://www.mlp.com/"
            target="_blank"
            rel="noopener noreferrer">Millennium</a
          ></b
        > (Incoming Technology Summer Analyst)
      </li>
      <li>
        <b
          ><a
            href="https://www.binance.com/"
            target="_blank"
            rel="noopener noreferrer">Binance</a
          ></b
        > (Software Engineering Intern)
      </li>
      <li>
        <b
          ><a
            href="https://www.cpf.gov.sg/"
            target="_blank"
            rel="noopener noreferrer">CPF Board</a
          ></b
        > (Software Engineering Intern)
      </li>
      <li>
        <b
          ><a
            href="https://arrowster.com/"
            target="_blank"
            rel="noopener noreferrer">Arrowster</a
          ></b
        > (Software Engineering Intern)
      </li>
    </ul>
    <p><b>Currently</b>, I am:</p>
    <ul>
      <li>Studying (Suffering) in School :(</li>
      <li>Picking up some books for Software Design :)</li>
    </ul>
    <p>Other <b>Random</b> facts about me:</p>
    <ul>
      <li>I ran a full marathon once</li>
      <li>I use the gym pretty frequently</li>
      <li>I worked in Vietnam for 3 months in my freshman year!</li>
    </ul>
  </article>
</BaseLayout>
